@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;

}
body {
	background: #FCE8F6;
	display: grid;
}

nav {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	background: #1A1D24;
	width: 210px; 
	overflow: hidden;
	transition: width 0.2s linear;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 1);
}

.logo {
	display: flex;
	text-align: center;

	padding: 10px 0px 0px 20px;
	transition: all 0.5s ease;
}
.logo img {
	position: relative;
	bottom: 0.25em;
	padding: 7px 10px 0px 0px;
	height: 180px;
	border-radius: 15%;
	
}

.logo span {
	font-weight: bold;
	padding: 12px;
	font-size: 35px;
	top: 20px;
	right: 7px;
	color: rgb(121, 121, 121);
	text-transform: uppercase;
}
/*
a {
	position: relative;
	color: rgb(85, 83, 83);
	font-size: 25px;
	display: table;
	width: 100%;
	padding: 10px;
}
*/
/*.fas {
	position: relative;
	width: 50px;
	height: 45px;
	top: 10px;
	font-size: 20px;
	text-align: center;
}*/
/*
.nav-item {
	position: relative;
	top: 11px;
	margin-left: 10px;
}
*/

.logo:hover {
	background: #fff;
}
.icons:hover{
	background-color: #fff;
}
nav:hover {
	width: 420px;
	transition: all 0.5s ease;
}

.icons {

	padding: 10px 10px;

}

.icon {
	display: flex;
	margin: 0 0 20px 0;
	width: 70px;
	height:70px;
	text-decoration: none;
	font-size: 42px;
	color: rgb(110, 110, 110);
	border-radius: 50%;
	outline: 2px solid rgb(110, 110, 110);
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i{
	margin: auto;	
}
.icon:hover i{
	animation: shake 1s;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--twitter:hover {
	background-color:  #1da1f2;
	outline-color:  #1da1f2;
}
.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--github:hover {
	background:#2ea44f;
	outline-color:#2ea44f;
}

@keyframes shake {
	
	10% {
		transform: rotate(15deg);
	}

	20% {
		transform: rotate(-15deg);
	}

	30% {
		transform: rotate(15deg);
	}

	40%{
		transform: rotate(-15deg);
	}
}











